@import "../../../styles.scss";

.dashboard {
    position: relative;
    width: 100%;
    padding-bottom: 30px;

    &__header {
        margin-top: 30px;
        text-align: center;
        font-size: 50px;
        color: $color-primary;
    }

    &__dropdown {
        position: relative;
        margin-top: 15px;
        margin-bottom: 30px;
        left: 50%;
        transform: translateX(-50%);

        padding: 5px;
        font-size: 20px;
        width: 80%;
    }

    &__list {
        &__patients-list {
            &__patient {
                padding: 18px;
                margin: 12px;
                border-radius: 15px;
                background-color: $color-primary;
                color: $color-dull-white;
            }
        }
    }
}