@import "../../styles.scss";

.check-in {
    width: 100%;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__title {
        text-align: center;
        color: $color-primary;
        font-size: 35px;
    }

    &__form {
        margin-top: 20px;

        &__section {
            margin: 15px;
            display: flex;
            flex-direction: column;

            &__label {
                font-size: 20px;
                font-weight: 500;
            }

            &__field {
                padding: 5px;
                font-size: 15px;
            }
        }

        &__submit-button {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                width: 50%;
                padding: 8px;
                margin-top: 20px;
            }
        }
    }
}