@import "../../../styles.scss";

.back-button {
    background-color: $color-primary;
    height: 50px;
    width: 50px;
    z-index: 5000000;

    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 50px;

    @include no-select-input();

    h1 {
        text-decoration: none;
        display: inline-block;
        padding: 0px 15px;
        position: relative;
        top: -8px;
        font-size: 50px;
        color: white;
    }

    &:hover {
        background-color: darken($color-primary, 10%)
    }

}

@media screen and (min-width:481px) {
    .back-button {
        top: 30px;
        left: 30px;
    }
}

@media screen and (min-width:770px) {
    .back-button {
        top: 30px;
        left: 50px;
    }
}

@media screen and (min-width:1025px) {
    .back-button {
        top: 40px;
        left: 50px;
    }
}