<div class="home">
    <div class="home__header">
        <h1 class="home__title">ERSwift</h1>
    </div>
    <div class="home__info">
        <span class="">
            At ERSwift, our goal is to improve the speed at which emergency rooms operate.

            Check in to an emergency room and reduce the unnecessary anxiety of a waiting area.
        </span>
    </div>
    <div class="home__button-list">
        <div class="home__button-list__button btn btn--blue">
            Emergency Check-In
        </div>
        <div class="home__button-list__button btn btn--blue">
            Check-In
        </div>
        <div class="home__button-list__button btn btn--blue">
            Queue Position
        </div>
        <div class="home__button-list__button btn btn--blue">
            Doctor Log In
        </div>
    </div>
</div>