@import '../../../styles.scss';

.patient-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 30px;

    &__title {
        color: $color-primary;
        padding-top: 50px;
        font-size: 40px;
        text-align: center;
    }

    &__dash {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 5px;
        background-color: $color-primary;
    }

    &__body {
        padding: 0px 40px 20px 40px;

        &__section-header {
            color: $color-primary;
            margin-top: 20px;
        }

        span {
            color: $color-primary;
        }
    }

    &__center {
        display: flex;
        justify-content: center;

        &__dismiss-button {
            width: 50%;
            padding: 10px;
            text-align: center;
        }
    }

}
