@import "../../styles.scss";

.queue-position {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__head {
        position: relative;
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        color: $color-primary;
        text-align: center;

        &__title {
            padding: 10px;
        }
        
        &__sub {
            margin-top: 20px;
            font-size: 20px;
            margin-bottom: 5px;
        }

        &__number {
            font-size: 50px;
        }
    }
}