@import "../../styles.scss";

.queue-position {
    width: 100%;
    position: relative;
    top: 15%;

    &__head {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        color: $color-primary;
        text-align: center;

        &__title {
            padding: 10px;
        }
        
        &__sub {
            margin-top: 30px;
            font-size: 20px;
            margin-bottom: 5px;
        }

        &__number {
            font-size: 50px;
        }
    }
}

@media screen and (min-width:481px) {
    .queue-position {
        top: 20%;
    }
}